{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <h1>{{ page_title }}</h1>

    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Action</th>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.year }}</td>
                <td>
                    <a href="{{ path('app_borrow', { title: book.title }) }}">Borrow</a>
                    &nbsp;|&nbsp;
                    <a href="{{ path('app_return', { title: book.title }) }}">Return</a>
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
