{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}

<div class="main-home">
    <img src="{{ asset('images/Jovan_Eye_of_Ender_for_Books.png') }}" alt="Library Logo" class="logo">
    <a href="{{ path('app_home') }}">Go to Home Page</a>
</div>

<div class="main-choices">

    <h1>Main Processes:</h1>
        <a>Dashboard (In Development)</a>
        <a href="{{ path('app_add_book_index') }}"
        class="{{ app.request.attributes.get('_route') == 'app_add_book_index' ? 'active-link' : '' }}">
                Manage Books
        </a>
        <a href="{{ path('app_add_book_new') }}"
        class="{{ app.request.attributes.get('_route') == 'app_add_book_new' ? 'active-link' : '' }}">
                Add Book
        </a>
        <a href="{{ path('app_books') }}"
        class="{{ app.request.attributes.get('_route') == 'app_books' ? 'active-link' : '' }}">
                Borrowing Pages
        </a>
        <a href="{{ path('app_user_index') }}"
        class="{{ app.request.attributes.get('_route') == 'app_user_index' ? 'active-link' : '' }}">
            Create User
        </a>
        <a href="{{ path('app_user_search') }}"
        class="{{ app.request.attributes.get('_route') == 'app_user_search' ? 'active-link' : '' }}">
            Find User
        </a>

    {# <a href="{{ path('app_add_book_new') }}">Add New Book</a>
    <a href="{{ path('app_add_book_index') }}">Manage Books</a>
    <a href="{{ path('app_user_search') }}">Find User (For Experiment)</a>
    <a href="{{ path('app_user_index') }}">Create a User (For Experiment)</a>
    <a href="{{ path('app_books') }}">Borrowing Page</a> #}
    <h1>Sub Processes:</h1>
    <a href="{{ path('app_add_book_index') }}">Back to list</a>
</div>

<div class="main-bar-tables">
    <h1>Book</h1>

    <table class="table-tables">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>PublishedAt</th>
                <td>{{ book.publishedAt ? book.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.description }}</td>
            </tr>
            <tr>
                <th>Available</th>
                <td>{{ book.availableCount is not null ? book.availableCount : 'N/A' }}</td>
            </tr>
        </tbody>
    </table>
</div>
    {# {{ include('add_book/_delete_form.html.twig') }} #}
{% endblock %}
