{% extends 'base.html.twig' %}

{% block title %}NonPaidUser index{% endblock %}

{% block body %}
    <h1>NonPaidUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for non_paid_user in non_paid_users %}
            <tr>
                <td>{{ non_paid_user.id }}</td>
                <td>{{ non_paid_user.email }}</td>
                <td>{{ non_paid_user.roles ? non_paid_user.roles|json_encode : '' }}</td>
                <td>{{ non_paid_user.password }}</td>
                <td>
                    <a href="{{ path('app_non_paid_user_show', {'id': non_paid_user.id}) }}">show</a>
                    <a href="{{ path('app_non_paid_user_edit', {'id': non_paid_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_non_paid_user_new') }}">Create new</a>
{% endblock %}
