{% extends 'base.html.twig' %}

{% block title %}NonPaidUser{% endblock %}

{% block body %}
    <h1>NonPaidUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ non_paid_user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ non_paid_user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ non_paid_user.roles ? non_paid_user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ non_paid_user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_non_paid_user_index') }}">back to list</a>

    <a href="{{ path('app_non_paid_user_edit', {'id': non_paid_user.id}) }}">edit</a>

    {{ include('non_paid_user/_delete_form.html.twig') }}
{% endblock %}
