{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <div class="main-home">
        <img src="{{ asset('images/Jovan_Eye_of_Ender_for_Books.png') }}" alt="Library Logo" class="logo">
        <a href="{{ path('app_home') }}">Go to Home Page</a>
    </div>

    <div class="main-choices">
        <h1>Main Processes:</h1>
        <a href="{{ path('app_add_book_new') }}">Add New Book</a>
        <a href="{{ path('app_add_book_index') }}">Manage Books</a>
        <a href="{{ path('app_user_search') }}">Find User (For Experiment)</a>
        <a href="{{ path('app_user_index') }}">Create a User (For Experiment)</a>
        <h1>Processes:</h1>
        <a class="back-to-catalog" href="{{ path('app_books') }}">Back to catalog</a>
    </div>

<div class="main-bar-tables">
    <h1>{{ page_title }}</h1>

    <p style="color: white">You are returning: <strong>{{ book.title }}</strong></p>

    {% for label, messages in app.flashes %}
        {% for msg in messages %}
            <div class="flash {{ label }}">{{ msg }}</div>
        {% endfor %}
    {% endfor %}

    <form method="post" action="{{ path('app_return', {id: book.id}) }}">
        <label for="username">Borrower Name</label><br>
        <input id="username" name="username" placeholder="Type exact user name" required>
        <button type="submit">Return</button>
    </form>
</div>

{% endblock %}
