{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    <div class="main-home">
        <img src="{{ asset('images/Jovan_Eye_of_Ender_for_Books.png') }}" alt="Library Logo" class="logo">
        <a href="{{ path('app_home') }}">Go to Home Page</a>
    </div>

    <div class="main-choices">
        <a href="{{ path('app_user_search') }}">Back to search user</a>
        <a href="{{ path('app_user_index') }}">Back to list</a>    
    </div>

<div class="main-bar-tables">
    <h1>Edit User</h1>

    <div>
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('user/_delete_form.html.twig') }}
    </div> 
</div>
{% endblock %}
