{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="main-home">
        <img src="{{ asset('images/Jovan_Eye_of_Ender_for_Books.png') }}" alt="Library Logo" class="logo">
        <a href="{{ path('app_home') }}">Go to Home Page</a>
    </div>

    <div class="main-choices">        

        <h1>Main Processes:</h1>
        <a href="{{ path('app_add_book_index') }}"
        class="{{ app.request.attributes.get('_route') == 'app_add_book_index' ? 'active-link' : '' }}">
                Manage Books
        </a>
        <a href="{{ path('app_add_book_new') }}"
        class="{{ app.request.attributes.get('_route') == 'app_add_book_new' ? 'active-link' : '' }}">
                Add Book
        </a>
        <a href="{{ path('app_books') }}"
        class="{{ app.request.attributes.get('_route') == 'app_books' ? 'active-link' : '' }}">
                Borrowing Pages
        </a>
        <a href="{{ path('app_user_index') }}"
        class="{{ app.request.attributes.get('_route') == 'app_user_index' ? 'active-link' : '' }}">
            Create User
        </a>
        <a href="{{ path('app_user_search') }}"
        class="{{ app.request.attributes.get('_route') == 'app_user_search' ? 'active-link' : '' }}">
            Find User
        </a>

        {# <a href="{{ path('app_add_book_new') }}">Add New Book</a>
        <a href="{{ path('app_add_book_index') }}">Manage Books</a>
        <a href="{{ path('app_user_search') }}">Find User (For Experiment)</a>
        <a href="{{ path('app_user_index') }}">Create a User (For Experiment)</a>
        <a href="{{ path('app_books') }}">Borrowing Page</a> #}
        <h1>Sub Processes:</h1>
        <a href="{{ path('app_user_search') }}">Search user</a>
        <a href="{{ path('app_books') }}">Go to Borrowing Page</a>
        <a href="{{ path('app_user_new') }}">Create new</a>
    </div>

<div class="main-bar-tables">
    <h1>User index</h1>

    <table class="table-tables">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                {# <th>Email</th> #}
                <th>BorrowedCount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                {# <td>{{ user.email }}</td> #}
                <td>{{ user.borrowedCount }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a> |
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
