{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <div class="main-home">
        <img src="{{ asset('images/Jovan_Eye_of_Ender_for_Books.png') }}" alt="Library Logo" class="logo">
        <a href="{{ path('app_home') }}">Go to Home Page</a>
    </div>

    <div class="main-choices">
        <h1>Main Processes:</h1>
        <a href="{{ path('app_add_book_new') }}">Add New Book</a>
        <a href="{{ path('app_add_book_index') }}">Manage Books</a>
        <a href="{{ path('app_user_search') }}">Find User (For Experiment)</a>
        <a href="{{ path('app_user_index') }}">Create a User (For Experiment)</a>
        <a href="{{ path('app_books') }}">Borrowing Page</a>
        <h1>Processes:</h1>
        <a href="{{ path('app_user_search') }}">Back to search user</a>
        <a href="{{ path('app_user_index') }}">Back to user list</a>    
    </div>

<div class="main-bar-tables">
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

</div>
{% endblock %}
